:root {
  /* Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --gray: hsl(300, 9%, 93%);
  --main-gray: hsl(0, 0%, 96%);

  /* Font */
  --main-font: "DM Sans", sans-serif;

  /* Font Weights */
  --w-400: 400;
  --w-500: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--main-gray);
}

.container {
  display: grid;
  gap: 25px;
  padding-block: 32px;
  margin-inline: auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
}

.section {
  border-radius: 20px;
}

.card-1 {
  grid-area: one;
  background-color: var(--purple-500);
}
.card-2 {
  grid-area: two;
  background-color: var(--gray);
}
.card-3 {
  grid-area: three;
  background-color: var(--yellow-500);
}
.card-4 {
  grid-area: four;
  background-color: var(--purple-100);
}
.card-5 {
  grid-area: five;
  background-color: var(--purple-500);
}
.card-6 {
  grid-area: six;
  background-color: var(--white);
}
.card-7 {
  grid-area: seven;
  background-color: var(--yellow-100);
}

.card-8 {
  grid-area: eight;
  background-color: var(--yellow-500);
}
